h1 {
    font-family: 'Pacifico', cursive;
}

.alpha {
    font-family: 'Quattrocento', serif;
}

li {
    font-family: 'Alfa Slab One', cursive;
}

img {
    max-width: 90%;
    border-radius: 20%;
}

.container {
    background-color: aquamarine;
}

.col {
    background-color: rgb(243, 220, 17);
}

.list-group {
    padding-bottom: 2rem;
}

.list-group-item {
    background-color: rgb(208, 255, 0);
    border: none;
}